* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar Css */
.nav {
    border-bottom: 2px solid #EBCFA7;
    margin: 0 5rem;
}

.nav-title {
    margin-right: 3.5rem;
    list-style: none;
}

.nav-title .border {
    margin: 1rem 3rem;
}

.nav-title div img {
    margin: -17px -3rem;
    display: none;
}

.nav-title .link {
    /* border-radius: 13px; */
    text-decoration: none;
    color: white;
}

a.link.active img {
    display: block;
}

/* home  Css */
.home {
    margin-bottom: 7rem;
}

.home::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.7)), url('./assets/image/house.png');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
    z-index: -1;
}

.main {
    width: 40%;

}

.building {
    height: 410px;
}

.building-img img {
    position: relative;
    top: -109%;
    left: 1rem;
    width: 320px;
    height: 400px;
    margin-left: 2rem;
}

.building-img::before {
    content: ' ';
    display: block;
    position: relative;
    /* left: 2rem; */
    top: 0;
    width: 300px;
    height: 400px;
    /* margin-left: 2rem; */
    background-image: url('./assets/image/building-bg.png');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
    z-index: -1;
}

.content {
    width: 35%;
    margin-top: 7rem;
}

.sofa-img-mt {
    color: #145DA0;
    position: relative;
    top: -18rem;
    left: 8rem;
    background-color: #ffffffb0;

    width: 35%;
}

.iphone {
    position: relative;
    top: 0rem;
    margin: 0 9rem;
    /* height: 80vh; */
}

/* .iphone-text {
    width: 70% !important;
} */

.istore {
    /* width: 42%; */
    padding: 0px 20px;
    text-decoration: none;
    border-radius: 7px;
}

.istore-l img {
    width: 30px;
}

/* .phone::after {
    content: ' ';
    display: inline-block;
    position: relative;
    left: -13rem;
    top: -20rem;
    width: 500px;
    height: 400px;
    background-image: url('./assets/image/i-phone-shadow.png');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
    z-index: 2;
} */
.ishadow {
    position: relative;
    top: -15rem;
    left: -10rem;
    width: 150%;
}



.shadow-phone {
    width: 83%;

}

.phone-text {
    position: relative;
    top: -12rem;

    /* margin-left: 7rem; */

    /* left: 1rem; */
}

.phone-text a {
    text-decoration: none;
}

.istore-r h5 {
    font-weight: 400;
    position: relative;
    top: 10px;
    left: 6px;
    font-size: 13px;
}

.istore-r h2 {
    left: 6px;
    position: relative;
    top: -3px;
    font-size: 25px;
}

/* Feature CSS */

.feature::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('./assets/image/slider2\ 1.png');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
    z-index: -1;
}

.feature div {
    position: relative;
    margin-left: 5rem;
    margin-top: 3%;
    color: #145DA0;
    background-color: #ffffff;
    width: 50%;

}

/* Comparison css */
.Comparison::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.7)), url('./assets/image/unsplash_hCU4fimRW-c.png');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
    z-index: -1;
}

/* comparision_div css */
.comparision_div {
    width: 88%;
    border-radius: 5px;
}

.paras {
    height: 304px;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 4rem;
    overflow-x: hidden;

}

/* Pricing css */
.pricing::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.7)), url('./assets/image/slider3\ 1.png');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
    z-index: -1;
}

/* .pricing-l {
    border-right: 1px solid black;
} */
.pricing-r {
    border-left: 1px solid rgba(0, 0, 0, 0.473);
    margin: 19px 0;

}

.pricing-r-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
    padding: 0 23px;
}

.pricing-r-mid div {
    margin: 3px 0;
}

.pricing-r-mid img {
    display: inline;
    width: 20px;
    padding: 5px;
    background-color: #58A2CD;
    border: 1px solid #ffffff;
    border-radius: 13px;
    margin-right: 9px;
}

.pricing-r-mid h6 {
    display: inline;
    color: rgba(128, 128, 128, 0.696);
    font-size: small;
}


/* Footer css */
footer {
    /* position: absolute;
bottom: 0; */
    width: 100%;
    padding: 0 5rem !important;
}

footer h6 {
    font-weight: 100;
}


/* Form Css */
/* header.form::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.7)), url('./assets/image/unsplash_hCU4fimRW-c.png');
    background-repeat: no-repeat;
    background-position: 0 10%;
    background-size: cover;
    z-index: -1;
} */
.form {
    position: absolute;
    top: 0;
    z-index: -1;
}

.form img {
    opacity: 0.9;

}

.icon {
    display: inline;
    position: relative;
    left: 30px;
}

.icon img {
    width: 23px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nmem {
    width: 78%;
}

.number {
    width: 57%;
}

.loading-btn img {
    width: 30px;
    margin-right: 14px;
    display: none;
}